.faq {
   max-width: 20.5rem; // 328px
   max-height: 33.5rem; // 536px
   width: 90%;
   height: 66%;
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   margin: auto;
   padding: 0rem 1.5625rem 0rem 1.5625rem;
   background-color: $white;
   background-image: url('../../images/bg-pattern-mobile.svg');
   background-size: auto;
   background-repeat: no-repeat;
   background-position-x: center;
   border-radius: 15px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

   @include break-up($break-value){
      max-width: 57.5rem; // 920px
      max-height: 31.875rem; // 510px
      padding: 0;
      display: flex;
      align-items: center;
      background-image: url('../../images/bg-pattern-desktop.svg');
      background-size: auto;
      background-repeat: no-repeat;
      background-position-x: -37.25rem; // svg size - available space = 966px - 370px = 596px
      background-position-y: 68%;
   }

   &-illustration-women {
      background-image: url('../../images/illustration-woman-online-mobile.svg');
      background-size: auto;
      background-repeat: no-repeat;
      background-position-x: -60%;
      min-height: 11.25rem; // 196px
      transform: translateY(-60%);

      @include break-up($break-value){
         min-height: 30.0625rem;
         flex: 1;
         background-image: url('../../images/illustration-woman-online-desktop.svg');
         background-size: auto;
         background-repeat: no-repeat;
         background-position-x: 100%;
         transform: translateY(12%);

         &::before {
            content: "";
            display: block;
            position: relative;
            height: 110px;
            background-image: url('../../images/illustration-box-desktop.svg');
            background-repeat: no-repeat;
            transform: translate(-94px, 132px);
         }
      }
   }

   &-content {

      transform: translateY(-20%);

      @include break-up($break-value){
         transform: none;
         padding: 0rem 5rem 0.625rem 5rem;
         flex: 1;
      }

      .faq-item {
         
         padding: 20px 0px 20px 0px;

         a {
            color: $veryDarkGrayishBlue;
            text-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);

            .icon-arrow {
               float: right;
               height: 0.9375rem;
               width: 0.9375rem;
               margin-left: 15px;
               background-image: url('../../images/icon-arrow-down.svg');
               background-size: auto;
               background-repeat: no-repeat;
               background-position: center center;
            }
         }
      }
   }

}

// svg {
//    transform: rotate(180deg);
//  }